:root {
    --color-black: #333;
    --color-larq-blue: #0B152E;
    --color-larq-green: #6AEF80;
}

body {
    color: var(--color-black);
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}