<head>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,700&display=swap" rel="stylesheet">

    <!-- Homepage -->
    {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    <meta name="title" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta property="twitter:title" content="{{ .Site.Title }}">

    {{ $description := "News and updates about Larq, an open-source deep learning library for binarized neural networks.x"}}
    <meta name="description" content="{{ $description }}">
    <meta property="og:description" content="{{ $description }}">
    <meta property="twitter:description" content="{{ $description }}">

    <meta property="og:image" content="/images/larq-hero.jpg">
    <meta property="twitter:image" content="/images/larq-hero.jpg">

    <!-- Individual blog posts -->
    {{ else }}
    <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
    <meta name="title" content="{{ .Page.Title }} | {{ .Site.Title }}">
    <meta property="og:title" content="{{ .Page.Title }} | {{ .Site.Title }}">
    <meta property="twitter:title" content="{{ .Page.Title }} | {{ .Site.Title }}">

    <meta name="description" content="{{ .Page.Params.socialDescription }}">
    <meta property="og:description" content="{{ .Page.Params.socialDescription }}">
    <meta property="twitter:description" content="{{ .Page.Params.socialDescription }}">

    <meta property="og:image" content="{{ .Page.Params.socialImage }}">
    <meta property="twitter:image" content="{{ .Page.Params.socialImage }}">
    {{ end }}
</head>